@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('../src/assets/fonts/farsi/eot/IRANYekanWebRegular.eot');
    src: url('../src/assets/fonts/farsi/eot/IRANYekanWebRegular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../src/assets/fonts/farsi/woff/IRANYekanWebRegular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../src/assets/fonts/farsi/woff2/IRANYekanWebRegular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../src/assets/fonts/farsi/ttf/IRANYekanWebRegular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 500;
    src: url('../src/assets/fonts/farsi/eot/IRANYekanWebMedium.eot');
    src: url('../src/assets/fonts/farsi/eot/IRANYekanWebMedium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../src/assets/fonts/farsi/woff/IRANYekanWebMedium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../src/assets/fonts/farsi/woff2/IRANYekanWebMedium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../src/assets/fonts/farsi/ttf/IRANYekanWebMedium.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url('../src/assets/fonts/farsi/eot/IRANYekanWebBold.eot');
    src: url('../src/assets/fonts/farsi/eot/IRANYekanWebBold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../src/assets/fonts/farsi/woff/IRANYekanWebBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../src/assets/fonts/farsi/woff2/IRANYekanWebBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../src/assets/fonts/farsi/ttf/IRANYekanWebBold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 800;
    src: url('../src/assets/fonts/farsi/eot/IRANYekanWebExtraBold.eot');
    src: url('../src/assets/fonts/farsi/eot/IRANYekanWebExtraBold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../src/assets/fonts/farsi/woff/IRANYekanWebExtraBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../src/assets/fonts/farsi/woff2/IRANYekanWebExtraBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../src/assets/fonts/farsi/ttf/IRANYekanWebExtraBold.ttf') format('truetype');
    font-display: swap;
}

@tailwind base;

@layer base {
    html {
        font-family: iranyekan, serif !important;
    }

    body {
        @apply bg-[#f6f6f6] dark:bg-black;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
}

@tailwind components;

@layer components {
    .text-title {
        @apply text-[#1F2434] dark:text-white
    }

    .card-box {
        @apply bg-white dark:bg-[#14151a] rounded-10
    }
}
@tailwind utilities;